/* EmployeeViewProject.css */

#searchBox {
  width: 300px;
  float: left;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Container styles */
#projectHomeBody {
  padding: 20px;
  background-color: #ffffff;
  height: auto;
  width: 90%;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Header styles */
h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

/* Button styles */
.infoButtonPro {
  padding: 10px 15px !important;
  margin: 10px 5px;
  border: none;
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-weight: bold;
}

.infoButtonPro:hover {
  opacity: 0.9;
}

/* Table styles */
.project-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.project-table th,
.project-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center !important;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.project-table thead th {
  background-color: #2b5995;
  color: white;
}

/* Delete confirmation popup styles */
.info-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.info-content {
  text-align: left;
}

.cover-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.info-popup button {
  padding: 10px 15px;
  background-color: #2b5995;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  display: block;
  margin: 0 auto;
}

.info-popup button:hover {
  background-color: #0056b3;
}

/* No records cell styles */
.no-records-cell {
  text-align: center !important;
  background-color: #f0f0f0;
  padding: 200px;
  color: #333;
  font-size: 18px;
  font-weight: bold;
}
