.project-form-container {
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: relative;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input,
  select {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  select {
    cursor: pointer;
  }
  
  .project-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .project-button:hover {
    background-color: #0056b3;
  }
  
  /* Media query for responsiveness */
  @media (max-width: 480px) {
    .project-form-container {
      max-width: 100%;
    }
  }
  
  .blur {
    filter: blur(2px);
    pointer-events: none;
  }
  
  .modalpopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #dddddd;
    border: none;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    z-index: 2;
    width: 200px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    animation: popup 1s;
  }
  
  .modalpopup button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: white;
    color: #4caf50;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .modalpopup button:hover {
    background-color: #4caf50;
    color: white;
  }
  
  @keyframes popup {
    0% {
      transform: translate(-50%, -50%) scale(0.9);
      opacity: 0;
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
  }
  
  .back-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .back-button:hover {
    background-color: #2980b9;
  }
  
  .Editheading {
    margin-top: 30px;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  